li.view-list {
    list-style: none;
    height: 45px;
    background: #e3e3e3;
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
    padding:5px;
}
.input-name {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 5px;
}
.no-margin {
    margin: 0;
}
.square-box {
    border: 1px solid #e3e3e3;
}
.box {
    height: 50px;
    cursor: pointer;
}
.inline {
    display: inline;
}
.error {
    color: red;
}
.color-box {
    height: 20px
}
