<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div class="container">
    <div class="row">
        <!-- <ui-view></ui-view> -->
        <span ng-if="game.gameBlocked">Please Wait while game appears again</span>
        <div ng-if="game.showGame && !game.errorMessage && !game.gameBlocked">
            <div class="col-md-12 text-center">
                <li class="view-list"> Game Name: {{ game.activeGame.name | uppercase}} </li>
                
            </div>
            <div class="col-md-12" ng-mouseover="fillSquares()" ng-mouseleave="emptySquares()">
                <div class="col-md-{{game.cellWidth}} box square-box" ng-class="{active: !cell.occupied}" ng-style="{'background': '#{{cell.color}}'}" ng-repeat="cell in game.grid" ng-click="acquireSquare(cell)"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
