<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join Game</title>
</head>
<body>
    <div class="panel panel-default col-md-12">
        <div class="panel-heading">
            <div class="panel-title">
                <h3 class="inline">Current Games</h3>
                <button class="btn btn-success" ng-click="listGames()">Refresh List!</button>
            </div>
        </div>
        <div class="panel-body">
            <li ng-repeat="currentGame in game.currentGames" class="view-list">
                <span>{{currentGame.name}}</span>
                <input type="text" ng-model="game.playerName[currentGame.id]" ng-show="game.playerNameRequired" class="col-md-offset-8 input-name" placeholder="Player Name" autofocus="true">
                <button ng-click="joinGame(currentGame)" class="btn btn-success btn-large pull-right">Join</button>
            </li>
        </div>
    </div>
</body>
</html>
